body{
    margin:0;
}

*:before, *:after{
    box-sizing: border-box;
}

w100{
    width: 100%;
}

/*---header---*/

.logo{
    display: inline-block;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    padding-bottom: 5px;
    font-size: 36px;
    padding: 10px 30px;
    position: relative;
}

.main-head{
    display: inline-block;
}

.main-head .links{
    display: inline-block;
    margin: 0;
}

.main-head  li{
    display: inline-block;
    list-style: none;
    margin-right: 31px;
}

.main-head li img,
.main-head li a,
.logo{
    vertical-align: middle;
}

.lk-text{
    font-size: 26px;
    color: lightgrey;
    font-family: 'Roboto' , sans-serif;
    display: inline-block;
    position: relative;
}
.menu-items{
    border-bottom: 2px solid transparent;
}
#one:hover{
    border-bottom: 2px solid blue;
}

#two:hover{
    border-bottom: 2px solid green;
}

#three:hover{
    border-bottom: 2px solid yellow;
}

#four:hover{
    border-bottom: 2px solid purple;
}


.sm-links{
    float: right;
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

.sm-links li{
    display: inline-block;
    margin-right: 20px;
}

.sm-links a{
    text-decoration: none;
    color: lightgrey;
    font-size: 26px;
    position: relative;
}

.sm-links a:hover{
    color: grey;
    text-decoration: none;
}

/*---firstbody---*/

.hide{
    display: block;
    position: relative;
    top: 278px;
    color: white;
    font-family: 'Roboto',sans-serif;
    max-width: 1168px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.hide h1{
    overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end ),
    blink-caret .75s infinite;
   font-size: 70px; 
}



.ft-body{
    display: block;
    background: url('https://www.google.com/docs/about/images/docs/banner-1600.jpg');
    height: 710px;
    background-size: cover;
}

.ft-body .inside{
    padding: 60px 40px;
    text-align: center;
}

.ft-body h3{
    display: block;
    color: #fff ;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
    position: relative;
    top: 300;
}

.ft-body .btn{
    background: #4386fc;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 350;
    padding: 16px 65px;
    color: white;
    text-decoration: none;

}

.ft-body .btn:hover{
    background:#2263d6;
}

/*---sdbody---*/

.sd-body {
    display: block;
}


.sd-body .inside{
    display: inline-block;
    max-width: 1500px;
    width: 100%;
}

.sd-body .lp{
    display: inline-block;
    height: 348px;
    position: relative;
    right: 90px;
    margin-top: 100;
    width: 50%;

}


.sd-body .sd-text{
    display: inline-block;
    width: 36%;
    position: relative;
    bottom: 164px;
}

.sd-text h2{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
}

.sd-text .sd{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-weight: 200;
    line-height: 1.4;
    font-size: 21px;
}

/*---tdBody---*/

.td-body{
    display: block;
    background-color: #f6f6f6;
    height: 830px;

}


.td-body .inside{
    max-width: 1500px;
    width: 100%;
    padding-top: 60px;
}

.td-body h2{
    text-align: center;
    color: #4c4c4c;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    display: block;
    font-family: 'Roboto', sans-serif;
}


.td-body p{
    text-align: center;
    display: block;
    color: #7d7d7d;
    font-size: 16px;
    width: 646px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}


.td-body .template{
    max-width: 1500px;
    margin-top: 78px;
    display: block;
}

.td-body .btn{
    background: #4386fc;
    border-radius: 0;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 16px 65px;
    text-decoration: none;
    position: relative;
    left: 41%;
}

.td-body .btn:hover{
    background-color: #2263d6;
}

.template img{
    max-width: 1500px;
    margin-bottom: 70px;
}

/*---FourthBody---*/

.fth-body {
    display: block;
    background-color: #fff;
    height: 524px;

}

.fth-body .inside{
    margin: 0 auto;
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.fth-body .left{
    width: 45%;
    display: inline-block;
    position: relative;
    padding-top:64px;
    vertical-align: top;
}

.fth-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
}

.fth-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:600;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;

}

.fth-body .btn{
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    background: #4386fc;
    padding: 17px 13px;
    margin-top: 20px; 
    color: white;
    display: block;
    width: 246px;
    text-align: center;

}

.fth-body .right{
    width: 52%;
    display: inline-block;
    padding-top: 35;
}

.fth-body .r1{
    width: 100%;
}

/*---fifthBody---*/

.five-body{
    display: block;
    background-color: #f6f6f6;
}


.five-body .inside{
    min-height: 400px;
    padding: 135px 0;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.five-body .lft-1{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 50px;

}

.five-body .block {
    display: inline-block;
    margin-right: 20px;
}

#pt{
    height: 92px;
    border: 2px solid #d9d9d9;
    background-color: #ededed;
    border-radius: 7px;
    width: 131px;

}

.five-body .right-1{
    display: inline-block;
    width: 47%;
    padding-left: 31px;
}

.five-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
}

.five-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:600;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
    margin-bottom: 20px;
}


.five-body a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4386fc;
    display: block;
    margin-top: 20;
}

.five-body a:hover{
    color: #2263d6;
}

/*---sixBody---*/

.six-body{
    display: block;
    padding: 85px 0;
    border-bottom: 1px solid #f1f1f1;
}

.six-body .inside{
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}

.six-body .lf-2{
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.six-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
}

.six-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:600;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
}

.six-body .rt-2{
    display: inline-block;
    width: 46%;
}

#g{
    height: 218px;
    margin-left: 59px;
}

/*---SevenBody---*/


.sv-body{
    display: block;
    background-color: #f6f6f6; 
    padding-top: 51px;
    height: 480px;
}

.sv-body .inside{
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.sv-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    display: block;
}

.sv-body .uno{
    width: 31.1%;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.sv-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:400;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
    margin-top: 44px;
}

.sv-body .lt{
    position: relative;
    bottom: 7px;
}


/*---eightBody---*/

.et-body{
    display: block;
    background-color: #fff;
    height: 741px;
}


.et-body .inside{
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 111px;
    height: 635px;
}

.et-body .lt-3{
    display: inline-block;
    width: 55%;
    height: 641px;
}

.et-body .mv{
    position:relative;
    bottom: 633px;
    left: 34px;
}


.et-body .rt-3{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.et-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
}

.et-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:400;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
}


.et-body .btn{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background:#4386fc;
    display: block;
    margin-top: 41px;
    border-radius: 0;
    color: white;
    padding: 17px 13px;
    text-align: center;
    width: 289px;
}

.et-body .btn:hover{
    background-color: #2263d6;
}

/*---NthBody---*/

.nth-body{
    display: block;
    background-color: #f6f6f6;
}

.nth-body .inside{
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.nth-body .lt-4{
    width: 50%;
    display: inline-block;
}

.nth-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
    position: relative;
    bottom: 91px;
    margin: 0;
}


.nth-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:400;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
    position: relative;
    bottom: 67px;
}

.nth-body .rt-4{
    width: 44%;
    display: inline-block;
    padding-left: 66px;
}


.nth-body .add{
    position: relative;
    left: 115px;
}

/*---tenBody---*/

.tn-body{
    display: block;
    background-color:#fff;
    overflow: hidden;
    height: 618px;

}

.tn-body .inside{
    max-width: 1500px;
    width: 100%;
}


.tn-body .lt-5{
    display: inline-block;
    width: 55%;
    vertical-align: middle;
}

.tn-body .rt-5{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    position: relative;
    bottom: 169px;
    padding-left: 40;
}

.tn-body .dv{
    width: 100%;
    position: relative;
    top: -120px;
    height: 900px;

}

.tn-body h2{
    font-family: 'Roboto',sans-serif;
    color: black;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    display: block;
}


.tn-body .st-body{
    font-family: 'Roboto', sans-serif;
    color:#555;
    font-weight:400;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 21px;
    letter-spacing: 1px;
    text-align: left;
    display: block;
}

.tn-body .btn{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background:#4386fc;
    display: block;
    margin-top: 20px;
    border-radius: 0;
    color: white;
    padding: 17px 13px;
    text-align: center;
    width: 289px;
}

.tn-body .btn:hover{
    background-color: #2263d6; 
}



/*---Ele-body---*/

.foot-body{
    display: block;
    background: #f5f5f5;
    max-width: 1521px;
    height: 400px;

}

.foot-body .inside{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.foot-body .four{
    display: inline-block;
    max-width: 236px;
    padding-left: 20px;
    width: 100%;
    margin-right: 0px;
    vertical-align: top;
    padding-top: 30px;
    margin-left: 31px;
    position: relative;
    left: 30;
}

.foot-body h4{
    color:#4c4c4c;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 20px;
}

.foot-body li{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    list-style: none;
    display: block;
}

.foot-body a{
    text-decoration: none;
    color: #245dc1;
}

.foot-body a:hover{
    text-decoration: underline;
    color: #245dc1; 
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


@media screen and (max-width: 780px){
    
    
    .main-head{
        display: inline-block;

    }




    .main-head .logo{
        display: block;
        font-size: 30;
        padding: 0;
        float: left;

    }

    .main-head .links{
        display: inline-block;
        padding-left: 0;
    }

    .main-head li {
        display: inline-block;
        margin-left: 30;
        margin-right: 0;
    }

    .main-head li a{
        display: inline-block;
    }

    .main-head li img{
        height: 38px;
    }

    #four{
        margin-left: 5px;

    }

    #three{
        margin-left: 5px;

    }

    #two{
        margin-left: 5px;
    }

    .sm-links{
        display: inline-block;
        font-size: 13px;
    }

    .sm-links li{
        margin-right: 10px;
    }

    .sm-links a{
        font-size: 18px;
        position: relative;
        bottom: 4px;
    }

    .sm-links ul{
        padding-left: 0;
        width: 152px;
        text-align: right;
    }

    .ft-body {
        display: block;
        height: auto;
    
    }

    .ft-body .inside{
        display: block;
        height: 400px;
    }

    .ft-body .hide{
        display: block;
        position: relative;
        top: 58px;
        left: 12px;
        height: auto;
    }

    .ft-body h3{
        display: block;
        position: relative;
        top: 61px;
        font-size: 23px;
        width: 100%;
    }

    .ft-body .btn{
        display: block;
        width: 200px;
        position: relative;
        top: 84px;
        margin: 0 auto;
    }

    .sd-body{
        display: block;
        height: 540px;
    }

    .sd-body .inside{
        width: 100%;
        display: inline-block;
        margin-top: 49px;
    }

    .sd-body .lp{
        display: inline-block;
        height: auto;
        width: 50%;
        margin-top: 0;
    }

    .sd-body .lp img{
        display: inline-block;
        object-fit: cover;
        height: 344px;
        width: 133%;
        position: relative;
        top: 29px;
    }

    .sd-body .sd-text{
        display: inline-block;
        height: auto;
        position: relative;
        top: 10px;
        margin-left: 80px;
    }

    .sd-body .sd-text h2{
        display: block;
        font-size: 36px;
    }

    .td-body {
        display: block;
        height: auto;
    }

    .td-body .inside{
        display: block;
        height: 535px;
        width: 100%;
    }

    .td-body h2{
        display: block;
        font-size: 35px;
    }

    .td-body p{
        font-size: 21px;
        display: block;
    }

    .td-body .template{
        display: block;
        height: auto;
        width: 100%;
        max-width: 780;
        margin-top: 35px;
    }

    .td-body .template img{
        display: block;
        width: 100%;
        margin-bottom: 63px;
    }

    .td-body .btn{
        display: block;
        width: 179px;
        position: relative;
        left: 1;
        margin: 0 auto;
        bottom: 21px;
        text-align: center;
    }

    .fth-body {
        display: block;
        height: auto;
    }

    .fth-body .inside{
        display: inline-block;
        max-width: 780px;
        width: 100%;
        padding: 0;
    }

    .fth-body .left{
        display: inline-block;
        padding-left: 18px;
        padding-top: 2px;
    }

    .fth-body h2{
        display: block;
        font-size: 35px;
        width: 100%;
        margin-top: 46px;
    }

    .fth-body .st-body{
        display: block;
        font-size: 18px;
    }

    .five-body {
        display: block;
        height: auto;
    }

    .five-body .inside{
        display: inline-block;
        height: auto;
        max-width: 780px;
        width: 100%;
        padding-top: 37px;
        padding-bottom: 77px;
    }

    .five-body .lft-1{
        display: inline-block;
        width: 46%;
    }

    .five-body .block{
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .five-body .right-1{
        display: inline-block;
        position: relative;
        top: 25px;

    }

    .five-body h2{
        display: block;
        font-size:35px;
        width: 100%;
    }

    .five-body .st-body{
        font-size: 18px;
        display:block;
    }

    #pt{
        display: none;
    }

    .six-body {
        display: block;
        height: auto;
    }

    .six-body .inside{
        margin: 0 auto;
        max-width: 780px;
        width: 100%;
    }

    .six-body .lf-2{
        padding-left: 18px;
    }

    .six-body h2{
        display: block;
        font-size: 35px;
    }

    .six-body .st-body{
        display: block;
        font-size: 18px;
    }

    .sv-body{
        display: block;
    }

    .sv-body .inside{
        display: inline-block;
        max-width: 780px;
        width: 100%;
        margin: 0 auto;

    }

    .sv-body h2{
        display: block;
        font-size: 35px;
        margin-bottom: 44px;
    }

    .sv-body .uno{
        display: inline-block;
        width: 29%;
        left: 23px;
        position: relative;
    }

    .sv-body .lt{
        font-size: 18px;
        display: block;
    }

    .sv-body .st-body{
        display: block;
        font-size: 18px;
    }

    .et-body{
        display: block;
        height: auto;

    }

    .et-body .inside{
        display: inline-block;
        max-width: 780px;
        width: 100%;
        margin: 0 auto;
    }

    .et-body .lt-3{
        display: inline-block;
    }

    .et-body .lt-3 img{
        display: inline-block;
        height: 512px;
    }

    .et-body .lt-3 .mv{
        height: 327px;
        position: relative;
        bottom: 451px;
        left: 23px;
    }

    .et-body h2{
        font-size: 35px;
        display: block;
    }

    .et-body .st-body{
        display: block;
        font-size: 18px;
    }

    .nth-body{
        display: block;
        height: auto;
    }

    .nth-body .inside{
        display: inline-block;
        height: auto;
        margin: 0 auto;
        max-width: 780px;
        width: 100%;

    }

    .nth-body .lt-4{
        display: inline-block;
        width: 40%;
        margin-top: 96px;
    }

    .nth-body h2{
        font-size: 35px;
        display: block;
    }


    .nth-body .st-body{
        font-size: 18px;
        display: block;
    }

    .nth-body .add{
        display: inline-block;
        position: relative;
        bottom: 40px;
    }

    .tn-body {
        display: block;
        height: auto;
    }

    .tn-body .inside{
        max-width: 780px;
        width: 100%;
        display: inline-block;
        height: 646px; 
    }

    .tn-body .lt-5{
        display: inline-block;
        width: 51%;
    }

    .tn-body .dv{
        object-fit: cover;
    }

    .tn-body h2{
        font-size: 35px;
        display: block;
    }

    .tn-body .st-body{
        display: block;
        font-size: 18px;
    }


    .foot-body{
        display: block;
        height: auto;
    }

    .foot-body .inside{
        display: inline-block;
        width: 100%;
        max-width: 780px;
    }

    .foot-body .four{
        width: 130px;
        position: relative;
        left: 2;
    }
}

@media screen and (max-width: 320px){
    .main-head{
        display: block;
        height: 51px;
    }

    .main-head .logo{
        display: block;
        font-size: 33px;
        margin-top: 8px;
    }

    .main-head .links{
        display: none;
    }

    .sm-links{
        display: inline-block;
        position: relative;
        bottom: 39px;
    }

    .ft-body{
        display: block;
        height: 650;
    }

    .ft-body .inside{
        display: block;
        height: auto;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        padding: 30px 10px;
    }

    .ft-body .hide{
        display: none;
    }

    .ft-body h3{
        display: block;
        font-size: 25px;
        width: 92%;
        position: relative;
        top: 121px;
    }

    .ft-body .btn{
        display: block;
        width: 85px;
        font-size: 10px;
        text-align: center;
        position: relative;
        right: 12px;
        top: 156px;
    }

    .sd-body{
        display: block;
    }

    .sd-body .inside{
        display: block;
        width: 100%;
        max-width: 320px;
    }

    .sd-body .lp{
        display: block;
        height: auto;
        position: relative;
        left: 41px;
        margin-bottom: 84px;
        
    }

    .sd-body .lp img{
        display: block;
        object-fit: cover;
        height: 128px;
        width: 221px;
    }

    .sd-body .sd-text{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }


    .sd-body .sd-text h2{
        display: block;
        font-size: 27px;
    }

    .sd-body .sd{
        display: block;
        font-size: 16px;
        max-width: 239px;
        width: 100%;
        margin: 0 auto;
    }

    .td-body{
        display: block;
        height: auto;
    }

    .td-body .inside{
        width: 100%;
        max-width:320px;
    }

    .td-body h2{
        display: block;
        font-size: 27px;

    }

    .td-body p{
        display: block;
        font-size: 16px;
        margin: 0 auto;
        max-width:239px;
        line-height: 1.8;
        width: 100%;
        text-align: left;
    }

    .td-body .btn{
        display: block;
        width: 100px;
        font-size: 12px;
    }

    .fth-body{
        display: block;
        height: 532px;
    }

    .fth-body .inside{
        display: block;
        max-width: 320px;
        width: 100%;
    }

    .fth-body .right{
        display: block;

    }

    .fth-body .r1{
        display: block;
        position: relative;
        bottom: 343px;
        left: 68px;
        width: 171px;
    }

    .fth-body .left{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        max-width: 239px;
        width: 100%;
    }

    .fth-body h2{
        display: block;
        position: relative;
        top: 175px;
        font-size: 27px;
        max-width: 239px;
        width: 100%;
        
    }

    .fth-body .st-body{
        display: block;
        font-size: 16px;
        position: relative;
        top: 198px;
        max-width: 239px;
        width: 100%;
        letter-spacing: 0px;
    }


    .fth-body .btn{
        display: block;
        width: 217px;
        position: relative;
        top: 209px;
        font-size: 12px;
    }


    .five-body{
        display: block;
        height: 405px;
    }

    .five-body .inside{
        display: inline-block;
        max-width: 320px;
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        padding-bottom: 0px;
        min-height: 332px;
    }

    .five-body .lft-1{
        display: inline-block;
        width: 100%;
        position: relative;
        left: 12px;
    }

    .five-body .block{
        display: inline-block;
        width: 80px;
        height: 60px;
        margin-right: 5px;
    }

    .five-body .block img{
        width: 80px;
        display: inline-block;
        height: 60;
        object-fit: cover;
    }

    .five-body .right-1{
        display: block;
        width: 85%;
        text-align: center;
        position: relative;
        top: -76px;
    }

    .five-body h2{
        font-size: 27px;
        display: block;
        width: 237px;

    }

    .five-body .st-body{
        display: block;
        font-size: 16px;
        width: 237px;
    }

    .five-body a{
        display: none;
    }

    .six-body{
        display: block;
        height: 600;
        padding: 20px;
    }

    .six-body .inside{
        display: block;
        max-width: 320px;
        width: 100%;
        height: auto;
        margin-top: 17px;
    }

    .six-body .lf-2{
        display: block;
        position: relative;
        top: 226px;
        text-align: center;
        margin: 0 auto;
        width: 257px;
    }

    .six-body .rt-2{
        display: block;
        position: relative;
        bottom: 212px;
        right: 31px;
        width: 257px;
    }

    .six-body h2{
        display: block;
        font-size: 27px;
        max-width: 257px;
        width: 100%;
    }

    .six-body .st-body{
        display: block;
        font-size: 16px;
        max-width: 239px;
        width: 100%;

    }


    #g{
        height: 150px;
    }


    .sv-body{
        display: block;
        height: 400;
    }

    .sv-body .inside{
        display: block;
        max-width: 320px;
        width: 100%;
    }

    .sv-body h2{
        display: block;
        font-size: 27px;
        text-align: center;
        width: 239px;
        position: relative;
        left: 14px;
    }

    .sv-body .uno {
        max-width: 239px;
        display: block;
        width: 100%;
    }

    .sv-body .st-body{
        display: block;
        font-size: 16px;
        max-width:239px;
        width: 100%;
        position: relative;
        left: 5px;
    }

    .sv-body .tb{
        display: block;
        position: relative;
        left: 56px;
    }

    #cn{
        display: none;
    }

    #cn2{
        display: none;
    }


    .et-body {
        display: block;
        height: auto;

    }


    .et-body .inside{
        max-width: 320px;
        width: 100%;
        display: block;
    }

    .et-body .lt-3{
        display: block;
        height: auto;
        margin: 0 auto;
    }


    .et-body .lt-3 img{
        display: block;
        height:200px ;
    }

    .et-body .rt-3{
        display: block;
        height: auto;
        max-width: 239px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        bottom: 111px;
    }

    .et-body h2{
        font-size: 27px;
        display: block;
    }

    .et-body .lt-3 .mv{
        height: 120px;
        position: relative;
        bottom: 178px;
        left: 12px;
    }

    .et-body .st-body{
        display: block;
        font-size: 16px;
    }
    
    .et-body .btn{
        display: block;
        font-size: 14px;
        width: 200px;
    }


    .nth-body {
        display: block;
        height: 515px;
    }

    .nth-body .inside{
        max-width: 320px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .nth-body .rt-4{
        display: block;
        max-width: 239px;
        width: 100%;
    }

    .nth-body .add{
        display: block;
        height: 150px;
        position: relative;
        bottom: 244px;
        left: 11px;
    }

    .nth-body .lt-4{
        display: block;
        max-width: 239px;
        width: 100%;
        position: relative;
        top: 235px;
        margin:0 auto;
    }

    .nth-body h2{
        font-size: 27px;
        display: block;
    }

    .nth-body .st-body{
        font-size: 16px;
        display: block;
    }

    .tn-body {
        display: block;
        height: auto;
    }

    .tn-body .inside{
        display: block;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .tn-body .lt-5{
        display: block;
        height: auto;
        max-width: 239px;
        width: 100%;
    }

    .tn-body .dv{
        height: 180px;
        width: 181px;
        position: relative;
        top: 32px;
        left: 43px;
        object-fit: cover;
    }

    .tn-body .rt-5{
        display: block;
        max-width: 239px;
        width: 100%;
        position: relative;
        top: 75px;
    }

    .tn-body h2{
        font-size: 27px;
        display: block;
    }

    .tn-body .st-body{
        display: block;
        font-size: 16px;
    }


    .tn-body .btn{
        width: 200px;
        font-size: 14px;
    }

















}